<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sia?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="com/rpll/model/Periods.hbm.xml"/>
    <mapping resource="com/rpll/model/MatkulType.hbm.xml"/>
    <mapping resource="com/rpll/model/Modul.hbm.xml"/>
    <mapping resource="com/rpll/model/Department.hbm.xml"/>
    <mapping resource="com/rpll/model/Matkul.hbm.xml"/>
    <mapping resource="com/rpll/model/ClassSession.hbm.xml"/>
    <mapping resource="com/rpll/model/Keuangan.hbm.xml"/>
    <mapping resource="com/rpll/model/Jobs.hbm.xml"/>
    <mapping resource="com/rpll/model/TeachPeriod.hbm.xml"/>
    <mapping resource="com/rpll/model/TakeRooms.hbm.xml"/>
    <mapping resource="com/rpll/model/LecturesWork.hbm.xml"/>
    <mapping resource="com/rpll/model/Announcements.hbm.xml"/>
    <mapping resource="com/rpll/model/Bobot.hbm.xml"/>
    <mapping resource="com/rpll/model/Absences.hbm.xml"/>
    <mapping resource="com/rpll/model/Lectures.hbm.xml"/>
    <mapping resource="com/rpll/model/LecturesEdu.hbm.xml"/>
    <mapping resource="com/rpll/model/Staff.hbm.xml"/>
    <mapping resource="com/rpll/model/University.hbm.xml"/>
    <mapping resource="com/rpll/model/Angkatan.hbm.xml"/>
    <mapping resource="com/rpll/model/Rooms.hbm.xml"/>
    <mapping resource="com/rpll/model/Faculty.hbm.xml"/>
    <mapping resource="com/rpll/model/Marks.hbm.xml"/>
    <mapping resource="com/rpll/model/Students.hbm.xml"/>
    <mapping resource="com/rpll/model/TakeMatkulPeriod.hbm.xml"/>
    <mapping resource="com/rpll/model/FeeKuliah.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
