/* 
    Document   : style
    Created on : Apr 12, 2013, 8:20:49 PM
    Author     : Michael
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#content
{
	height: 700px; 
	width: 1000px; 
	margin: auto; 
	text-align: center;
        background-image: url('../img/content.jpg');
}